<li class="nav-item" role="presentation">
    <a href="#tabs-home" class="
      nav-link
      block
      font-medium
      text-xs
      leading-tight
      uppercase
      border-x-0 border-t-0 border-b-2 border-transparent
      px-6
      py-3
      my-2
      hover:border-transparent hover:bg-gray-100
      focus:border-transparent
      {% if active %} active {% endif %}
    " id="tabs-{{name}}-tab" data-bs-toggle="pill" data-bs-target="#tabs-{{name}}" role="tab" aria-controls="tabs-{{name}}"
      aria-selected="true">{{ name }}</a>
  </li>